In [1]:
import pickle
import pandas as pd

from glob import glob

In [2]:
path = "./stat_models"
model_directories = glob(path + "/*/")

In [3]:
table_dict = {}

for idx in range(len(model_directories)):
    directory = model_directories[idx]
    model_name = directory.split("/")[-2]
    station_pkls = glob(path + "/" + model_name + "/*_pm25.pkl")
    
    model_data = {}

    for inner_idx in range(len(station_pkls)):
        station_data = pickle.load(open(station_pkls[inner_idx], "rb"))
        model_data[station_data["station_id"]] = station_data["score"]
        
    table_dict[model_name] = model_data

In [4]:
reform = {(outerKey, innerKey): values for outerKey, innerDict in table_dict.items() for innerKey, values in innerDict.items()}

In [5]:
result_df = pd.DataFrame(reform).transpose()

In [6]:
result_df

                    r2_score        mae       rmse       mean
ARIMA        MH013  0.459298  16.785513  23.250920  70.541163
             MH009  0.504096  15.970187  20.668572  71.795412
             MH012  0.360010  18.530347  24.476688  67.611512
             MH014  0.413515  18.925399  25.038120  70.873012
             MH007  0.481719  17.092265  21.208094  77.950118
             MH008  0.476554  14.742201  18.294771  64.690506
             MH006  0.599854  10.053305  12.860223  48.218434
             MH011  0.356254  14.351604  19.663933  67.710494
             MH010  0.512239  12.493626  15.936929  60.576000
Holt-Winters MH013  0.410022  18.051876  24.287299  70.541163
             MH009  0.419802  17.698674  22.356303  71.795412
             MH012  0.275335  19.193341  26.045628  67.611512
             MH014  0.367909  19.271163  25.993398  70.873012
             MH007  0.446858  17.478746  21.909737  77.950118
             MH008  0.430705  14.577698  19.079181  64.690506
             MH006  0.562601  10.530517  13.445538  48.218434
             MH011  0.281522  15.420442  20.773982  67.710494
             MH010  0.474037  13.007535  16.549265  60.576000
AR           MH013  0.488458  16.898467  22.615275  70.541163
             MH009  0.553069  15.746360  19.621485  71.795412
             MH012  0.411103  18.150673  23.479335  67.611512
             MH014  0.475562  18.590073  23.676648  70.873012
             MH007  0.545012  16.159507  19.870955  77.950118
             MH008  0.535136  13.790587  17.240659  64.690506
             MH006  0.625311   9.752786  12.444417  48.218434
             MH011  0.376858  14.749094  19.346681  67.710494
             MH010  0.567202  11.629718  15.012170  60.576000

In [7]:
predictions_df = pd.read_pickle(path + "/MH010_predictions.pkl")

In [8]:
predictions_df

            Actual          AR       ARIMA  Holt-Winters
2019-12-23   86.32   73.658364   76.296328     87.138237
2019-12-24   83.66   82.070249   84.644370     88.647389
2019-12-25  108.50   82.541039   82.017457     79.592704
2019-12-26  121.49  104.720307  106.924060    107.322473
2019-12-27   73.82  117.073591  120.080572    118.202761
...            ...         ...         ...           ...
2020-03-12   15.44   36.230672   37.781951     38.337705
2020-03-13   19.42   15.215703   14.953054     15.131079
2020-03-14   24.96   23.157591   18.809658     19.844199
2020-03-15   28.79   28.794523   24.180078     25.315868
2020-03-16   47.21   30.805124   27.895475     31.632170

[85 rows x 4 columns]